body{
  background-color: #e4fde1
}
/*cabecera*/
header{overflow: auto;background-color: #336699}
.logo{
  margin-left: 10px;
  float: left;
  font-size:2em}

/* Estilo de pestañas */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;

}
/* Estilo de los botones que se utilizan para abrir el contenido de la pestaña*/
.tab a
 {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  text-decoration: none;
  margin: 0 auto;
}

/* Cambiar el color de fondo de los botones al pasar el ratón.*/
.tab a:hover {
  background-color: #ddd;
}

/* Crear una clase activa / actual*/
.tab a.active {
  background-color: #ccc;
}


/*slide imagenes*/
.contenedor-slide {
max-width: 1000px;
position: relative;
margin: auto;
}

.mySlides {
display: none;
}

/* botones anterior y siguiente*/
.anterior, .siguiente {
cursor: pointer;
position: absolute;
top: 50%;
width: auto;
margin-top: -22px;
padding: 16px;
color: white;
font-weight: bold;
font-size: 18px;
transition: 0.6s ease;
border-radius: 0 3px 3px 0;
user-select: none;
}

/* Coloque el botón "siguiente" a la derecha */
.siguiente {
right: 0;
border-radius: 3px 0 0 3px;
}

/* Al pasar por encima, añadir un color de fondo negro con un poco ver a través */
.anterior:hover, .siguiente:hover {
background-color: rgba(0,0,0,0.8);
}

  h1{ text-align:center;
  color: #456990;
  text-shadow: 1px 1px black;
}
  .acordeon {
    background-color: #456990;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align:center;
    border: none;
    outline: none;
    transition: 0.4s;
  }

  /* Añade un color de fondo al boton cuando se clickea en el o cuando se pasa el ratón sobre él (hover) */
  .active, .acordeon:hover {
    background-color: #114b5f;
  }

  .panel {
    text-align:center;
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden; /*Estilo del panel hidden por defecto*/
  }

  .acordeon:after {
    content: '\02795'; /* Carácter Unicode del signo "más" (+) */
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
  }

  .active:after {
    content: "\2796"; /* Carácter Unicode del signo "menos" (-) */
  }

  /*footer*/
  footer{
    border-radius: 15px;
    text-align: center;
    margin-top: 20px;
    height: auto;
    position: fixed; /*Posición fija en la parte de abajo de la página de forma permanente*/
   left: 0;
   bottom: 0;
   width: 100%;
     height: 40px;
     background-color: #A64738;
     color: white;
     text-align: center;
    }
    .redes{
      display: inline-block;
      font-size: 30px;
      color: #961400;
    }
